{% extends 'common_app_templates/base.html' %}
{% load static %}

{% block header %}
<link rel="stylesheet" href="{% static 'css/style_register.css' %}">
<script src="https://code.jquery.com/jquery-3.6.3.js" integrity="sha256-nQLuAZGRRcILA+6dMBOvcRh5Pe310sBpanc6+QBmyVM="
    crossorigin="anonymous"></script>
{% endblock %}

{% block title %}hello{% endblock %}
{% block content %}



<section id="main_body">

    <div class="heading" style="padding-top: 200px;">
        <h1 class="heading_text text-center mb-2"><u>Admin Register here</u> </h1>
    </div>


    <div>
        <h6 style="    text-align: center;font-size: 22px;font-weight: 400;color: greenyellow;">{{message}}</h6>
    </div>


    <section id="reg_form" style="margin-bottom: -50px;">
        <div class="container">
            <div class="row justify-content-center mt-5">
                <div class="col-xs-12 col-sm-8 col-md-6 col-lg-5">
                    <div class="card" style="box-shadow: 12px 12px 22px;">
                        <div class="card-header">
                            <h5 class="card-title">Admin Register</h5>
                        </div>
                        <div class="card-body">
                            <form method="POST">
                                {% csrf_token %}
                                <div class="form-group">
                                    <label for="">Name</label>
                                    <input type="text" class="form-control" placeholder="Name" name="a_name" />
                                </div>


                                <div class="form-group">
                                    <label for="">Email</label>
                                    <input type="email" id="email" class="form-control" placeholder="Email/Username"
                                        name="a_email" />
                                    <span id="email_check"></span>


                                </div>

                                <div class="form-group">
                                    <label for="">Password</label>
                                    <input type="password" class="form-control" placeholder="Password"
                                        name="a_password" />

                                </div>



                                <button class="btn form-control mt-3" id="btnColor" style="color: #fff;"
                                    data-target="#mymodel" data-toggle="modal">
                                    Register
                                </button>

                                <p style="text-align: center; color: green;">{{message}}</p>




                            </form>

                            <br>
                            <p class="text-left" style="font-size:15px">If you already have an account, <a
                                    href="/admin_login">login</a> instead.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

</section>





<script>
    $('#email').change(function () {

        console.log($(this).val())
        $.ajaxSetup({
            headers: {
                "X-CSRFToken": $('[name=csrfmiddlewaretoken]').val() //passing csrf token in ajax request
            }
        })

        $.ajax({
            type: 'POST',
            url: "{% url 'common_app:check_email_admin' %}",
            data: {
                'a_email': $(this).val(),

            },
            success: function (response) {
                if (response.email_exist == true) {
                    $('#email_check').html('Email already registerd.').css("color", "red")
                    $('#btnColor').prop('disabled', true)
                }
                else {
                    $('#email_check').html('Email available for register.').css("color", "green")
                    $('#btnColor').prop('disabled', false)

                }
                console.log(response.email_exist)
            }
        })
    })
</script>




{% endblock %}