{% extends 'common_app_templates/base.html' %}
{% load static %}

{% block header %}



{% endblock %}

{% block title %}hello{% endblock %}
{% block content %}

<br><br><br>

<!-- patient signup/login page -->

<section style="background-color: lightblue;
    margin-bottom: -49px;
    margin-top: -11px;">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center" style="margin-top: 85px;margin-bottom: 85px;">
                <h1 style="font-weight: 300;font-size: 50px;letter-spacing: 2px;">Hello, Admin</h1>
                <p style="font-size: 19px;font-weight: 300;letter-spacing: 3px;margin-top: 17px;margin-bottom: 25px;">
                    Welcome to National Hospital</p>
                <hr>
                <p>You can access various features after Login/SignUp</p>
                <div>
                    <button type="button" class="btn btn-primary me-3"><a href="{% url 'common_app:admin_register' %}"
                            style="color: #fff;text-decoration: none;">SignUp</a></button>
                    <button type="button" class="btn btn-primary"><a href="{% url 'common_app:admin_login' %}"
                            style="color: #fff;text-decoration: none;">Login</a></button>
                </div>

            </div>
        </div>
    </div>
</section>







<!-- footer -->

{% endblock %}