{% extends 'doctor_templates/base.html' %}
{% load static %}

{% block header %}
<style>
    table {
        border-collapse: collapse;
        width: 100%;

    }

    th,
    td {
        text-align: left;
        padding: 8px;


    }

    tr:nth-child(even) {

        font-size: 17px;
        font-weight: 500;
        background-color: cadetblue;
        color: ivory;

    }

    .tableHead {
        background-color: darkblue;
        color: #fff;
        height: 53px;
        border: 1px solid #fff;
    }

    .tableHead th {
        border: 1px solid #fff;
    }

    .tableBody td {
        border: 1px solid #fff;
    }
</style>
{% endblock %}

{% block title %}Doctor Home{% endblock %}
{% block content %}

<br><br><br><br><br>
<section>
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h3>Your Consultation Time Table.
                    <hr>
                </h3>
            </div>
            <div class="row">
                <div class="container-fluid">
                    <div style="overflow-x: auto;">

                        <table>

                            <tr class="tableHead">

                                <th>Day</th>
                                <th>Time</th>
                                <th>Status</th>
                                <th>Action</th>
                                <th></th>
                            </tr>
                            {% for consult in consultation_details %}
                            <form method="POST">
                                {% csrf_token %}
                                <tr class="tableBody" id="consult{{consult.id}}">
                                    <td>{{consult.day }}</td>
                                    <td>{{consult.time}}</td>
                                    <td>{{consult.status}}</td>

                                    <td><button class="btn btn-danger" name='unavailable' type="button"
                                        onclick="updateConsultationStatus('{{consult.id}}', 'unavailable')">Not Available</button>
                                        <span style="margin-left: 5px;">
                                        <button class="btn btn-success" name='available' type="button"
                                            onclick="updateConsultationStatus('{{consult.id}}', 'available')">Available</button>
                                        </span>

                                    </td>

                                    <td><input type="hidden" name="consultation_id" value="{{consult.id}}"></td>
                                </tr>

                            </form>

                            {% empty %}
                            <h4 class="notFound text-center text-danger">No doctor record found.</h4>

                            {% endfor %}
                        </table>
                    </div>


                </div>
            </div>
        </div>
    </div>
</section>


<script>
    function updateConsultationStatus(consultationId, newStatus) {
            $.ajax({
                type: "POST",
                url: "{% url 'doctor:update_consultation_status' %}",
                data: {
                    'consultation_id': consultationId,
                    'new_status': newStatus,
                    'csrfmiddlewaretoken': '{{ csrf_token }}'
                },
                success: function (data) {
                    // Update the status of the relevant row
                    $('#consult' + consultationId + ' td:eq(2)').text(newStatus);
                },
                error: function (xhr, textStatus, errorThrown) {
                    alert('Error updating consultation status: ' + errorThrown);
                }
            });
        }
</script>


{% endblock %}