{% extends 'patient_templates/base.html' %}
{% load static %}


{% block header %}
<style>
    table {
        border-collapse: collapse;
        width: 100%;

    }

    th,
    td {
        text-align: center;
        padding: 8px;
    }

    td {
        background-color: grey;
        font-size: 17px;
        font-weight: 500;
        background-color: cadetblue;
        color: ivory;
    }

    

    .tableHead {
        background-color: darkblue;
        color: #fff;
        height: 53px;
        border: 1px solid #fff;
    }

    .tableHead th {
        border: 1px solid #fff;
    }

    .tableBody td {
        border: 1px solid #fff;
    }
</style>

{% endblock %}

{% block title %}Consultation{% endblock %}
{% block content %}

<br><br><br><br><br>
<section>
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h3>{{doctor_name}} Consultation Details.
                    <hr>
                </h3>
            </div>
            <div class="row">
                <div class="container-fluid">
                    <div style="overflow-x: auto;">

                        <table>

                            <tr class="tableHead">
                                <th style="width: 80px;">Sl.No</th>
                                <th>Day</th>
                                <th>Time</th>
                                <th>Status</th>


                            </tr>
                            {% for c in details %}

                            <tr class="tableBody">
                                <td>{{ forloop.counter }}</td>
                                </td>
                                <td>{{c.day|title}}</td>
                                <td>{{c.time}}</td>
                                {% if c.status == 'available' %}
                                <td style="color:green">{{c.status|title}}</td>
                                {% else %}
                                <td style="color:red">{{c.status|title}}</td>
                                {% endif %}
                            </tr>
                            {% empty %}
                            <h4 class="notFound text-center text-danger">No doctor record found.</h4>

                            {% endfor %}
                        </table>
                    </div>


                </div>
            </div>
        </div>
    </div>
</section>



{% endblock %}