{% extends 'patient_templates/base.html' %} {% load static %} {% block header %}
<style>
  table {
    border-collapse: collapse;
    width: 100%;
  }

  th,
  td {
    text-align: left;
    padding: 8px;
  }

  tr:nth-child(even) {
    font-size: 17px;
    font-weight: 500;
    background-color: sandybrown;
    color: ivory;
  }

  .tableHead {
    background-color: brown;
    color: #fff;
    height: 53px;
  }

  .docImage img {
    width: 85px;
    border-radius: 9px;
    border: 1px solid #fff;
  }
  .notFound {
    text-align: center;
    color: red;
  }
</style>
{% endblock %} {% block title %}View Bookind=g{% endblock %} {% block content %}

<br /><br /><br /><br /><br />

<section class="content">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <h4 style="margin-top: 20px; margin-bottom: 30px">
          Your Prescription History.
          <hr />
        </h4>
      </div>
      <div class="container-fluid">
        <div style="overflow-x: auto">
          <table>
            <tr class="tableHead">
              <th>SL.No</th>
              <th>Doctor Name</th>
              <th>Patient Name</th>
              <th>Description</th>
              <th>Date</th>
              <th>Time</th>
              <th>Status</th>
            </tr>
            {% for p in views %}

            <tr>
              <td>{{ forloop.counter }}</td>

              <td>{{p.doctor_name.doctor_name}}</td>
              <td>{{p.patient_name}}</td>
              <td>{{p.patient_description}}</td>
              <td>{{p.booking_date}}</td>

              <td>{{p.booking_time}}</td>

              <td>
                <span class="bg-success text-white">{{ p.status }}</span>
                <a
                  href="{% url 'patient:view_prescription' p.id %}"
                  class="btn btn-sm btn-info"
                  style="float: right; color: #fff"
                  >View Prescription</a
                >
              </td>
            </tr>
            {% empty %}
            <h4 class="notFound">No Booking found.</h4>

            {% endfor %}
          </table>
        </div>
      </div>
      <div>
        <a
          href="{% url 'patient:your_bookings' %}"
          style="float: left; margin-top: 7px"
          class="btn btn-danger"
        >
          Back</a
        >
      </div>
    </div>
  </div>
</section>

{% endblock %}
