{% extends 'admin_app_templates/base.html' %}
{% load static %}

{% block header %}
<!-- <link rel="stylesheet" href="{% static 'css/style_doctors.css' %}"> -->
<style>
    .rounded-start {
        width: 100px;
        margin-top: 9px;
        margin-left: 20px;

    }

    .card-title {
        font-size: 50px;
        text-align: center;
        color: red;

    }

    .card-text {
        text-align: center;
        font-size: 17px;
        color: red;
        font-weight: 700;
    }

    .card {
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }
    .head1{
        text-shadow: 2px 2px 4px #000000;
    }
    .head2{
        text-shadow: 2px 2px 4px #000000;
    }




    .tableHeading h4 {
        margin-top: 60px;
        margin-bottom: 30px;
        text-align: center;
        font-size: 30px;
        font-weight: 300;
    }



    table {
        border-collapse: collapse;
        width: 800px;
        margin: 0 auto;
        text-align: center;
    }

    th,
    td {
        text-align: left;
        padding: 8px;
    }

    tr:nth-child(even) {

        font-size: 14px;
        font-weight: 500;
        background-color: chocolate;
        color: ivory;
    }

    .tableHead {
        background-color: brown;
        color: #fff;
        height: 53px;
        font-size: 13px;
    }



    .notFound {
        text-align: center;
    }
</style>

{% endblock %}
{% block details %}

<div class="profile-details">

    <span class="admin_name">{{ admin_name | upper}}</span>

</div>
{% endblock %}

{% block title %}Admin Home{% endblock %}
{% block content %}
<br><br><br><br><br>
<section>
    <div class="container">
        <div class="row" style="margin-top: 22px;">
            <div class="col-xl-4 col-lg-6 col-md-6 col-sm-12">
                <div class="card mb-3" style="max-width: 540px;background-color: gold;">
                    <div class="row g-0">
                        <div class="col-md-4 text-center">
                            <a href=""><img src="{% static 'images/ddii (2).png' %}"
                                    class="img-fluid mx-auto d-block rounded-start" alt="..."></a>

                        </div>
                        <div class="col-md-8">
                            <div class="card-body">
                                <h5 class="card-title">{{doctor_count}}</h5>
                                <p class="card-text">Total Doctor</p>

                            </div>
                        </div>
                    </div>
                </div>

            </div>



            <div class="col-xl-4 col-lg-6 col-md-6 col-sm-12">
                <div class="card mb-3" style="max-width: 540px;background-color: cadetblue;">
                    <div class="row g-0">
                        <div class="col-md-4  text-center">
                            <a href=""><img src="{% static 'images/ddii (1).png' %}" class="img-fluid rounded-start"
                                    alt="..."></a>

                        </div>
                        <div class="col-md-8">
                            <div class="card-body">
                                <h5 class="card-title">{{patient_count}}</h5>
                                <p class="card-text">Total Patient registred</p>

                            </div>
                        </div>
                    </div>
                </div>

            </div>

            <div class="col-xl-4 col-lg-6 col-md-6 col-sm-12">
                <div class="card mb-3" style="max-width: 540px;    background-color: darkorange;">
                    <div class="row g-0">
                        <div class="col-md-4  text-center">
                            <a href=""><img src="{% static 'images/ddii (3).png' %}" class="img-fluid rounded-start"
                                    alt="..."></a>

                        </div>
                        <div class="col-md-8">
                            <div class="card-body">
                                <h5 class="card-title">{{booking_count}}</h5>
                                <p class="card-text">Total Appointment</p>

                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>

    </div>

</section>




<section class="content">
    <div class='container'>
        <div class="row">
            <div class="col-lg-12 tableHeading">
                <h4 class="head1">Recent Doctors
                    <hr>
                </h4>

            </div>
            <div class="container-fluid">
                <div style="overflow-x: auto;">
                    <table>
                        <tr class="tableHead">
                            <th>SL.No</th>
                            <th>Patient Name</th>
                            <th>Doctor Department</th>
                            <th>Doctor Phone</th>

                            <th>Doctor Email</th>
                            <th>Doctor Address</th>
                            <th>Status</th>
                        </tr>

                        {% for d in reg_doctors_list %}


                        <tr>
                            <td>{{ forloop.counter }}</td>

                            <td>{{d.doctor_name}}</td>
                            <td>{{d.doctor_department.dep_name}}</td>
                            <td>{{d.doctor_phone}}</td>

                            <td>{{d.doctor_email}}</td>
                            <td>{{d.doctor_address}}</td>
                            <td>{{d.status}}</td>



                        </tr>
                        {% empty %}
                        <h4 class="notFound">No Booking found.</h4>

                        {% endfor %}


                    </table>
                </div>
            </div>
        </div>
    </div>
</section>




<section class="content">
    <div class='container'>
        <div class="row">
            <div class="col-lg-12 tableHeading">
                <h4 class="head2">Recent Patients
                    <hr>
                </h4>

            </div>
            <div class="container-fluid">
                <div style="overflow-x: auto;">
                    <table>
                        <tr class="tableHead">
                            <th>SL.No</th>
                            <th>Patient Name</th>
                            <th>Patient Mobile</th>
                            <th>Patient Email</th>
                            <th>Patient Address</th>
                        </tr>

                        {% for p in reg_patient_list %}


                        <tr>
                            <td>{{ forloop.counter }}</td>

                            <td>{{p.patient_name}}</td>
                            <td>{{p.patient_mobile}}</td>
                            <td>{{p.patient_email}}</td>

                            <td>{{p.patient_address}}</td>
                        </tr>
                        {% empty %}
                        <h4 class="notFound">No Booking found.</h4>

                        {% endfor %}


                    </table>
                </div>


            </div>







        </div>
    </div>



</section>






{% endblock %}